.form {
    text-align: center;
}
.formInput {
    font-size: 30px;
    font-style: italic;
    text-transform: capitalize;
    margin: 10px;
    width: 50%;
}
.formButton {
    border-color: green;
    border-radius: 4px;
    font-size: 30px;
    background: #4bf26e;
}
.formButton:hover {
    background: #00ef33;
}