.itemMovie {
    font-size: 25px;
    font-style: italic;
    text-transform: capitalize;
    margin: 5px 20px;
    width: 40%;
}
.newMovieButton {border-color: red;
    border-radius: 4px;
    background: #ff3f3f;
    font-size: 25px;
    margin: 5px;
}
.newMovieButton:hover {
    background: red;
}